<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<link rel="stylesheet"
	href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css">


</head>

<body>

	<div class="container">
		<h1>CoronaVirus Tracker App</h1>
		<p>This application displays the current number of Covid cases
			across the globe</p>


		<div class="jumbotron">

			<div class="container">
				<div class="row">
					<div class="col-sm">
						<h1 th:text="${totalCasesReported}"></h1>
						<p class="lead">Total cases reported as of today</p>
					</div>
					<div class="col-sm">
						<h1 th:text="${totalNewCases}"></h1>
						<p class="lead">New Cases reported since previous day</p>
					</div>

				</div>
			</div>

		</div>

		<table id="example" class="display" style="width: 100%">
			<thead>
				<tr>
					<th>State</th>
					<th>Country</th>
					<th>Total Cases Reported</th>
					<th>Changes Since last day</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="locationStat : ${locationStats}">
					<td th:text="${locationStat.state}"></td>
					<td th:text="${locationStat.country}"></td>
					<td th:text="${locationStat.latestTotalCases}">0</td>
					<td th:text="${locationStat.diffFromPrevDate}">0</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>

	<script type="text/javascript" src="js/script.js"></script>
</body>

</html>